<div class="container">
    <h1 class="display-4 mt-4">About</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, libero. Est repellendus nulla at iste aperiam dignissimos, exercitationem sed iusto consectetur nam doloremque illum voluptatum. Quasi reiciendis expedita velit nostrum beatae nulla dignissimos accusantium placeat. Cumque quis earum praesentium accusantium quia sapiente nobis? Sapiente perferendis nesciunt quidem dignissimos dicta itaque qui ducimus esse hic laborum mollitia molestias ratione cumque suscipit ad obcaecati similique praesentium consequuntur, debitis quas rem ipsam corporis in eveniet. Ea ut eos odit minus sed earum id architecto laudantium fugit debitis voluptatem voluptatibus illo incidunt laboriosam non, tenetur iste voluptates adipisci. Consequatur nulla minima sequi magni dolorem.</p>
</div>
